{% extends "base.html" %}
<!-- title -->
{% load static %}
{% block title %}Мой склад{% endblock title %}

<!-- style -->
{% block style %}
<style>
    li {list-style-type: none;}
    .accordion-body {padding: 0.5rem 1.25rem;}
    .form-container {margin-bottom: 1rem;}
    .form-label {font-weight: 500;}
    #cell-response-message .alert {margin-bottom: 0;}
    .cell-actions {display: flex; gap: 8px; margin-left: auto;}
    .add-product-btn {white-space: nowrap;}
    /* Добавляем стили для модального окна */
    .modal-select {width: 100%;}
</style>
{% endblock style %}

<!-- header -->
{% block header %}
{% endblock header %}

<!-- content -->
{% block content%}
    <ul id="storages-list" class="list-unstyled"></ul>
{% endblock content %}

<!-- script -->
{% block script %}
<script src="{% static 'my_warehouse.js' %}"></script>
{% endblock script %}